.pagination--container__wrapper {
    /* min-width: 12em; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pagination--button {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 3.5em;
    height: 3.5em;
    padding: 1em;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 3;
}

.pagination--button:hover {
    cursor: pointer;
}
