.add-post-modal--container__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    padding: 10vmin 0;
}

.add-post-modal--title {
    font-size: 1.5vh;
    width: 100%;
    text-align: center;
    line-height: 2.5em;
}

.add-post-modal--form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
    padding: 0 1.5em;
}

.add-post-modal--form__textarea {
    font-size: 1.5vh;
    width: 50em;
    max-width: 100%;
    min-height: 15em;
    padding: 1rem 2em;
    margin-bottom: 1em;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.5em;
    caret-color: white;
}

.add-post-modal--form__textarea-icon {
    position: absolute;
    top: 4em;
    right: 3em;
}

.add-post-modal--form__input {
    font-size: 1.5vh;
    width: 50em;
    height: 3em;
    max-width: 100%;
    padding: 1.2rem 2em;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0.5em;
    caret-color: white;
}

.add-post-modal--form__input-icon {
    position: absolute;
    bottom: 3.5em;
    right: 3em;
}
