.memorial-animation--wrapper {
    height: 100%;
    position: relative;
    animation: fadein 10s;
}

.memorial-animation--count {
    font-size: 4rem;
    opacity: 0.45;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}

.memorial-animation--text {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5;
    padding: 0 0 0 1rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}

.memorial-animation--button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}