.memorial-animation--wrapper {
    height: 60rem;
    position: relative;
    animation: fadein 10s;
}

.memorial-animation--subcontent-wrapper {
    position: absolute;
    top: calc(27rem - 5vmin);
    height: 60%;
    justify-content: flex-start;
    align-items: center;
}

.memorial-animation--count {
    font-size: 5rem;
    opacity: 0.45;
    font-weight: 800;
    margin-bottom: 8vh;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    z-index: 3;
}

.memorial-animation--text {
    font-size: 2em;
    font-weight: 800;
    line-height: 1.5;
    padding: 0;
    margin-bottom: 2.5em;
    /* position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    z-index: 3;
}

.memorial-animation--button {
    font-family: 'Nanum Myeongjo', serif !important;
    font-size: 1.3em;
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
