.memorial-posts--wrapper {
    height: 100%;
    min-height: 50%;
}

.pagination--wrapper {
    height: 20em;
    padding: 5em 2em;
    justify-content: center;
    align-items: center;
}

.pagination--text {
    width: 10em;
    font-size: 1.5rem;
    text-align: center;
}