
.pagination-page-number__wrapper {
    flex: 4;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination--page-number__default {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    color: white;
    opacity: 0.2;
    padding: 0 0.5em;
    font-size: 2.2rem;
}

.pagination--page-number__selected {
    opacity: 1 !important;
}
