.post--paper__wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.post--paper__background {
    width: 27em;
    max-width: 20em;
    height: fit-content;
    padding: 3em 2em;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.post--paper__sticker {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
