.button {
    /* width: 133px;
    height: 45px;
    padding: 16px 26px 15px 28px;
    border-radius: 7px; */
    width: 10em;
    height: 4em;
    padding: 1em 1.75em;
    border-radius: 0.5em;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.17);
    color: white;

}

.button:hover {
    cursor: pointer;
}