
.news-card {
    width: 100%;
    height: 40%;
    padding: 1%;
    gap: 2.5%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.news-card-link {
    text-decoration: none;
    color: white;
}

.news-card--thumbnail__wrapper {
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
}

.news-card--thumbnail__image {
    opacity: 1 !important;
    z-index: 5;
    height: 5em;
    aspect-ratio: 16 / 9;
}

.news-card--thumbnail__full-image {
    border-radius: 0.5em;
}

.news-card--content__wrapper {
    width: 60%;
}

.news-card--title {
    font-size: 110%;
    font-weight: 500;
    line-height: 1.5;
}

.news-card--description {
    font-size: 100%;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.6;
    max-height: 3.2rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
